
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Nunito', sans-serif;
}

body {
    overflow: hidden;
}

.notification-container {
	position:absolute;
	top:7vh;
	left:3vh;
}

.notify-item{
    padding: 10px 10px;
    padding-right: 15px;
    border-radius: 5px;
    background-color: rgb(22, 25, 31);
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    display:flex;
    transition: .2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.notify-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: rgb(38, 43, 53);
    margin-top: auto;
    margin-bottom: auto;
}

.notify-icon .this{
    bottom: -1px;
    position: relative;
    color:rgb(101, 113, 138);
}

.notify-text {
    padding: 5px 5px;
    padding-left: 7px;
    word-break: break-word;
}

.notify-item span {
    color: #dbdbdb;
    font-weight: 600;
    font-size: 14px;
}